:root {
  --color-Dark-Violet: hsl(256, 26%, 20%);
  --color-Grayish-Blue: hsl(216, 30%, 68%);
  --color-Very-Dark-Violet: hsl(270, 9%, 17%);
  --color-Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --color-Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

.body {
  margin-top: 15rem;
}

.icon-container {
  height: 5.5rem;
  width: 5.5rem;
  margin-bottom: 1.7rem;
}

.body-heading h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.body-heading hr {
  margin-bottom: 2.7rem;
  background-color: var(--color-Dark-Violet);
  opacity: 0.5;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.media-heading {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.description-text {
  opacity: 0.7;
  line-height: 2;
  text-align: center;
  padding: 0 3rem;
  font-size: 1.36rem;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.container {
  width: auto;
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .main-content {
    flex-direction: row;
  }

  .description-text {
    line-height: 1.5;
    text-align: start;
    padding: 0;
    width: 85%;
    font-size: 1.5rem;
  }

  .body {
    margin-top: 25rem;
    padding: 5rem;
  }

  .container {
    text-align: start;
    padding: 0 5rem;
  }

  .body-heading {
    margin-left: 3.8rem;
  }

  .body-heading h2 {
    font-size: 6.2rem;
    text-align: start;
    color: var(--color-Dark-Violet);
    margin-bottom: 5rem;
    /* padding: 0 5rem; */
  }

  .body-heading hr {
    margin-bottom: 5rem;
    background-color: var(--color-Dark-Violet);
    opacity: 0.5;
    width: 20%;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1050px) {
  .body {
    margin-top: 5rem;
  }
  .container {
    padding: 0;
  }
}

.hero-container {
  background: var(--color-Dark-Violet);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.hero-content-container::before {
  content: "";
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  background-image: url("../images/bg-pattern-intro-left-desktop.svg");
  width: 100%;
  height: 100%;
  left: -3rem;
  bottom: -50%;
}

.hero-container::after {
  content: "";
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  background-image: url("../images/bg-pattern-intro-right-desktop.svg");
  width: 100%;
  height: 100%;
  right: -4rem;
  bottom: 0rem;
}

.hero-image {
  transform: translateY(16rem);
  margin-right: 7rem;
  width: 100rem;
}

.hero-heading {
  font-size: 7rem;
  color: white;
  line-height: 1;
}

.hero-content-container {
  align-self: center;
  width: 100%;
  margin-left: 10rem;
  margin-right: 1rem;
  z-index: 2;
}

.hero-content-container hr {
  border: none;
  width: 15rem;
  height: 0.2rem;
  margin-bottom: 5rem;
  background: var(--color-Very-Light-Gray);
  opacity: 0.3;
}

.hero-text-container {
  width: 80%;
}

.hero-text {
  color: white;
  margin-top: 3.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
  white-space: normal;
}

.btn {
  margin-top: 3rem;
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 1.2rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.5s;
  position: relative;
  z-index: 2;
}

.btn:hover {
  background: white;
  color: black;
}

@media screen and (max-width: 1050px) {
  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-content-container::before {
    display: none;
  }

  .hero-container::after {
    background-image: url("../images/bg-pattern-intro-right-mobile.svg");
    background-position: bottom right;
    right: 0.5rem;
    top: 18rem;
  }

  .hero-content-container hr {
    display: none;
  }

  .hero-content-container {
    margin: 0;
    text-align: center;
  }

  .hero-text-container {
    width: 100%;
  }

  .hero-image {
    content: url(../images/image-intro-desktop.jpg);
    transform: none;
    width: 100%;
    height: 50%;
    margin-right: 0;
    margin-bottom: 2rem;
    z-index: 2;
    align-self: center;
  }

  .hero-heading {
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    padding: 0 2rem;
    z-index: 2;
  }

  .hero-text {
    font-size: 1.4rem;
    margin: 2rem 0;
    padding: 0 1.5rem;
    line-height: 2;
  }

  .hero-container .btn {
    margin-top: 1.5rem;
    margin-bottom: 8rem;
  }
}

.callout-container {
  display: flex;
  background: var(--color-Dark-Violet);
  justify-content: space-between;
  width: 80%;
  margin: 10rem auto;
  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}

.callout-container::after {
  content: "";
  position: absolute;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-size: 59% 100%;
  background-position: right;
  background-repeat: no-repeat;
  width: 62rem;
  height: 30rem;
  top: 0;
  right: 0;
  overflow: hidden;
}

.callout-heading {
  font-size: 4rem;
  color: white;
  line-height: 1.2;
  margin-left: 5rem;
}

.callout-container .btn {
  z-index: 1;
  margin-right: 7rem;
  padding: 1.2rem 3rem;
  align-self: center;
}

@media screen and (max-width: 768px) {
  .callout-container {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .callout-container::after {
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-size: 53% 102%;
    width: 37rem;
    height: 37rem;
    top: 0rem;
    right: -2.7rem;
  }

  .callout-heading {
    margin: 1.5rem;
    font-size: 3rem;
  }

  .callout-container .btn {
    margin: 0;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  width: 100%;
}

.nav-list {
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100vw;
  height: calc(100vh - 7rem);
  background: var(--color-Very-Dark-Violet);
  color: white;
  justify-content: start;
  z-index: 9;
  padding-top: 5rem;
}

.nav-list::after {
  content: "";
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-position: center;
  background-size: 100% 83%;
  background-repeat: no-repeat;
  position: absolute;
  width: 99vw;
  height: 50vh;
  top: 36rem;
  left: 0rem;
  overflow: hidden;
}

.nav-item {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item > a,
.nav-item > button {
  color: var(--color-Very-Light-Gray);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
  text-transform: inherit;
  font-weight: bold;
  opacity: 0.8;
  transition: color 0.3s;
}

.nav-item > a:hover {
  color: var(--color-Grayish-Blue);
}

.nav-item > button {
  border: 1px solid var(--color-Very-Light-Gray);
  padding: 1.5rem 7rem;
}

.nav-toggler {
  cursor: pointer;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 0 3px var(--color-Dark-Violet);
  padding: 0.3rem;
}

.nav.collapsible-expanded .nav-toggler {
  opacity: 1;
  content: url(../images/icon-close.png);
  cursor: pointer;
  box-shadow: 0 0 0 3px var(--color-Dark-Violet);
  padding: 0.3rem;
}

.collapsible-expanded .nav-list {
  display: flex;
}

@media screen and (min-width: 1050px) {
  .nav-toggler {
    display: none;
  }

  .nav {
    gap: 2rem;
  }

  .nav-list {
    display: flex;
    position: static;
    flex-direction: row;
    height: auto;
    background: none;
    color: black;
    padding: 0;
    justify-content: end;
    margin-left: 2rem;
  }

  .nav-list::after {
    display: none;
  }

  .nav-item > a,
  .nav-item > button {
    color: var(--color-Dark-Grayish-Violet);
    margin-left: 5rem;
    font-size: 2rem;
  }

  .nav-item > a {
    transition: color 0.3s;
    text-align: start;
  }

  .nav-item > button {
    border: 1px solid var(--color-Very-Dark-Violet);
    color: var(--color-Very-Dark-Violet);
    margin-top: 0;
    padding: 0.8rem 4rem;
  }

  .nav-item > a:hover {
    color: var(--color-Dark-Violet);
  }

  .nav-item > button:hover {
    background: var(--color-Dark-Violet);
    color: white;
    opacity: 1;
  }
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  background: var(--color-Very-Light-Gray);
}

.upper-footer {
  position: relative;
  overflow: hidden;
  padding-top: 10rem;
  width: 100%;
  z-index: 2;
}

.upper-footer::before {
  content: "";
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 50%;
  width: 100%;
  height: 45vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
}

.footer-logo {
  margin-bottom: 2rem;
  z-index: 2;
  position: relative;
}

.social-links {
  margin-bottom: 2.5rem;
  text-align: center;
  z-index: 2;
  position: relative;
}

.social-links img:hover {
  cursor: pointer;
}

.social-links img {
  margin: 0 1rem;
  z-index: 2;
}

.footer-block hr {
  border: none;
  width: 90vw;
  height: 2px;
  opacity: 0.1;
  background-color: #808080;
  z-index: 2;
  margin: 1rem auto;
  position: relative;
  margin-bottom: 2rem;
}

.footer-heading {
  font-size: 1.3rem;
  color: #808080;
  opacity: 0.9;
  text-transform: uppercase;
  line-height: 1.5;
  z-index: 2;
  margin-bottom: 3rem;
}

.footer-section {
  margin: 2rem 0;
}

.lower-footer {
  margin-bottom: 6rem;
  z-index: 2;
}

.footer-item {
  font-size: 1.3rem;
  color: var(--color-Very-Dark-Violet);
  font-weight: 900;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  z-index: 3;
}

.footer-item::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: var(--color-Very-Dark-Violet);
  position: absolute;
  left: 0;
  bottom: -1px;
  transition: width 0.3s ease;
}

.footer-item:hover::after {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .upper-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .upper-footer::before {
    display: none;
  }

  .footer-block::before {
    content: "";
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    width: 100%;
    height: 45vh;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
  }

  .lower-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 4rem;
  }

  .footer-logo {
    width: 100%;
    max-width: 230px;
    margin-left: 2rem;
  }

  .social-links {
    margin-right: 7rem;
    font-size: 0rem;
  }
}
