<section class="body">
  <h2 class="body-heading">We're different</h2>
  <article class="main-content">
    <div class="container">
      <img src="images/icon-snappy-process.svg" class="icon-container" />
      <h3 class="media-heading">Snappy Process</h3>
      <p class="description-text">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi
        repudiandae recusandae necessitatibus at pariatur totam voluptates nulla
        ea quisquam tempora!
      </p>
    </div>
    <div class="container">
      <img src="images/icon-snappy-process.svg" class="icon-container" />
      <h3 class="media-heading">Snappy Process</h3>
      <p class="description-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro dolorem
        amet cumque voluptatum sapiente voluptas eveniet perferendis cum, error
        quos.
      </p>
    </div>
    <div class="container">
      <img src="images/icon-snappy-process.svg" class="icon-container" />
      <h3 class="media-heading">Affordable Prices</h3>
      <p class="description-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quae
        tempora officiis nostrum quidem fugit perspiciatis laborum maxime
        aliquid error!
      </p>
    </div>
  </article>
</section>
