<footer class="footer-block">
  <section class="upper-footer">
    <div class="footer-logo">
      <img src="images/logo.svg" alt="logo" />
    </div>
    <div class="social-links">
      <img src="images/icon-facebook.svg" alt="facebook" />
      <img src="images/icon-twitter.svg" alt="twitter" />
      <img src="images/icon-pinterest.svg" alt="pinterset" />
      <img src="images/icon-instagram.svg" alt="instagram" />
    </div>
  </section>
  <hr />
  <section class="lower-footer">
    <section class="footer-section">
      <h4 class="footer-heading">Our company</h4>
      <ul class="list">
        <li class="footer-item"><a href="#">How we work</a></li>
        <li class="footer-item"><a href="#">Why Insure?</a></li>
        <li class="footer-item"><a href="#">Check Price</a></li>
        <li class="footer-item"><a href="#">Reviews</a></li>
      </ul>
    </section>
    <section class="footer-section">
      <h4 class="footer-heading">Help me</h4>
      <ul class="list">
        <li class="footer-item"><a href="#">FAQ</a></li>
        <li class="footer-item"><a href="#">Terms of use</a></li>
        <li class="footer-item"><a href="#">Privacy policy</a></li>
        <li class="footer-item"><a href="#">Cookies</a></li>
      </ul>
    </section>
    <section class="footer-section">
      <h4 class="footer-heading">Contact</h4>
      <ul class="list">
        <li class="footer-item"><a href="#">Sales</a></li>
        <li class="footer-item"><a href="#">Support</a></li>
        <li class="footer-item"><a href="#">Live chat</a></li>
      </ul>
    </section>
    <section class="footer-section">
      <h4 class="footer-heading">Others</h4>
      <ul class="list">
        <li class="footer-item"><a href="#">Careers</a></li>
        <li class="footer-item"><a href="#">Press</a></li>
        <li class="footer-item"><a href="#">Licenses</a></li>
      </ul>
    </section>
  </section>
</footer>
